
.App {
  display: flex;
  flex-direction: column;
  gap: 5%;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
body {
  font-family: 'Press Start 2P', cursive;
}

button{
  border: 1px solid black;
  border-radius: 8px;
  font-style: oblique;
  cursor: pointer;
}

img{
  width: 150px;
  height: 150px;
}

input{
  width: 20%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;

  @media (max-width: 768px) {
    width: 50%;
  }
}